.hero-img {
  max-width: 100%;
  border-radius: 20px;
}

.stats-icon {
  font-size: 35px;
  color: #6c63ff;
}

.course-card {
  transition: 0.3s;
  background: #fff;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.course-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.nav-pills .nav-link {
  background: #f1f1f1;
  border-radius: 30px;
  padding: 8px 18px;
  font-weight: 500;
}

.nav-pills .nav-link.active {
  background: #6c63ff;
  color: white;
}
